@using AzureNamingTool.Models;
<p>
    When the site is first installed, the application will prompt for the <strong>Admin password</strong> to be set. This password allows access to the configuration for the tool.
</p>
<p>
    <img style="width:600px;" class="img-fluid" src="Screenshots/AdminPasswordPrompt.png" alt="Admin password prompt" />
</p>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}
