@using AzureNamingTool.Models;
<p>
    The <strong>Generate Names Log</strong> displays all names generated using the Azure Naming Tool, along with the selected components.
</p>
@if (admin)
{
    <p>
        <img style="width:600px;" class="img-fluid" src="Screenshots/GeneratedNamesLogAdmin.png" alt="Generated Names Log" />
    </p>
}
else
{
    <p>
        <img style="width:600px;" class="img-fluid" src="Screenshots/GeneratedNamesLog.png" alt="Generated Names Log" />
    </p>
}
<div class="card">
    <h5 class="card-header bg-default text-black">
        Page Sections/Actions
    </h5>
    <div class="card card-body @theme.ThemeStyle">
        <p>
            <strong>Export Generated Names Log</strong>
        </p>
        <p>
            This functionality allows the generated names to be exported to a CSV file. The <strong>Filter</strong> option can be used to specify the names exported.
        </p>
        @if (admin)
        {
            <p>
                <strong>Purge Generated Names Log</strong>
            </p>
            <p>
                This option will delete all <strong>Generated Names Log</strong> data. This action cannot be undone!
            </p>
        }
    </div>
</div>
@code {
    [Parameter]
    public ThemeInfo? theme { get; set; }
    [Parameter]
    public bool admin { get; set; } = false;
}
